p {
    color: #fff;
    font-family: Avenir Next, Helvetica Neue, Helvetica, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 700
}

span {
    display: inline-block;
    position: relative;
    transform-style: preserve-3d;
    perspective: 500px;
    -webkit-font-smoothing: antialiased;
}

span::before, ::after {
    display: none;
    position: absolute;
    top: 0;
    left: -1px;
    transform-origin: left top;
    transition: all ease-out .3s;
    content: attr(data-text);
}

span::before {
    z-index: 1;
    color: rgba(0, 0, 0, .2);
    transform: scale(1.1, 1) skew(0deg, 20deg);
    display: block;
}

span::after {
    z-index: 2;
    color: #D94EB1;
    text-shadow: -1px 0 1px #D94EB1, 1px 0 1px rgba(0, 0, 0, .8);
    transform: rotateY(-40deg);
    display: block;
}

span:hover::before {
    transform: scale(1.1, 1) skew(0deg, 5deg);
}

span:hover::after {
    transform: rotateY(-10deg);
}

span {
    margin-left: 0.300em;
    margin-top: 20%;
}

p {
    font-size: 8em;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}